@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.roboto-serif-light {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.roboto-serif-regular {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.roboto-serif-bold {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Roboto Serif';
  --font-mono: 'Roboto Serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
